<footer class="mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <strong>Informasi</strong>
        <table class="table table-sm">
          <tr>
            <td>Alamat:</td>
            <td>Jl. Veteran no. 11 Brebes</td>
          </tr>
          <tr>
            <td>Telp:</td>
            <td>(0283) 671-667</td>
          </tr>
	  <tr>
	    <td>Fax: (Operator)</td>
	    <td>(0283) 671-667</td>
	  </tr>
	  <!--
            <tr>
              <td>Vi Director:</td>
              <td>Bootstrap</td>
            </tr>
            <tr>
              <td>Co-Vi Director</td>
              <td>Stylish Portfolio</td>
            </tr>
          -->
          </table>
          <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
        </div>

        <div class="col-md-6">
          <strong>Links</strong>
          <table class="table table-sm">
            <tr>
              <td><a href="http://brebeskab.go.id"> Pemerintah Kabupaten Brebes</a></td>
            </tr>
          </table>
        </div>

      </div>
    </div>  
  </footer>
